<ion-view view-title="Categories">
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-compose" ng-click="openNewCategory(true, 0)">
		</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="category in categories" class="item-icon-right" href="#">
			{{category.title}}
			<button class="button icon ion-edit button-clear"
                             ng-click="openNewCategory(false, category)">
          	</button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
