<ion-view hide-back-button="true" view-title="Dashboard">
	<ion-content>
		<ion-list class="dashboard">
			<ion-item>
				<div class="inline-block col-1-2 text-align-left text-bold">Total</div>
				<div class="inline-block col-1-2 text-align-right text-bold">{{totalCost | currency:"&#8377;"}}<span ng-if="budget > 0">/{{budget | currency:"&#8377;"}}</span></div>
			</ion-item>
			<hr>
			<ion-item class="item item-input-inset">
				<label class="item item-input-wrapper dashboard-input">
					<input type="number" ng-model="expense.cost" placeholder="Cost" autofocus>
				</label>
				<button class="button button-positive ion-checkmark" ng-click="addExpense()">Add</button>
			</ion-item>
			<ion-item class="item item-input-inset">
				<label class="item item-input-wrapper dashboard-input">
					<input type="text" ng-model="expense.details" placeholder="Details">
				</label>
			</ion-item>
			<div class="item  item-stable text-align-center category-label">
				<span>Select Category</span>
			</div>
			<ion-item class="category-buttons-container">
			    
				<button class="dashboard-category button"  ng-click="addCategoryToExpense(firstFourcategories[0], $index)" 
				ng-class="activeCategory === firstFourcategories[0] ? 'button-positive' :  'button-calm'">
		         	{{firstFourcategories[0].title}}
		        </button><!--
		        --><button class="dashboard-category button"  ng-click="addCategoryToExpense(firstFourcategories[1], $index)" 
				ng-class="activeCategory === firstFourcategories[1] ? 'button-positive' :  'button-calm'">
		         	{{firstFourcategories[1].title}}
		        </button><!--
		        --><button class="dashboard-category button"  ng-click="addCategoryToExpense(firstFourcategories[2], $index)" 
				ng-class="activeCategory === firstFourcategories[2] ? 'button-positive' :  'button-calm'">
		         	{{firstFourcategories[2].title}}
		        </button><!--
		        --><button class="dashboard-category button"  ng-click="addCategoryToExpense(firstFourcategories[3], $index)" 
				ng-class="activeCategory === firstFourcategories[3] ? 'button-positive' :  'button-calm'">
		         	{{firstFourcategories[3].title}}
		        </button>
		    </ion-item>
			<ion-item class="no-padding-top">
				<button class="button button-calm button-block more-categories" ng-click="showCategoriesModal()" ng-if="categories.length != 0">
		         	{{additionalCategoryTitle}}
		        </button>
		     </ion-item>
		     <hr>
			<ion-item class="no-padding-top">
				<button class="button button-block button-dark" ng-click="showDatePicker()">{{expense.date | date:'dd MMM yyyy'}}</button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>