<ion-view view-title="My Expenses">
	<ion-content>
		<ion-list>
			<ion-item class="item my-expense-item" ng-repeat="expense in expenses" href="#/app/expense/{{expense.id}}">
				<div class="my-expense-text inline-block">
					<h2>{{expense.title}}</h2>
					<p>{{expense.details}}</p>
				</div>
				<div class="my-expense-cost inline-block">
					<h2>{{expense.cost | currency:"&#8377;"}}</h2>
				</div>	

				

				<!-- <div class="expense-content col-1-3 text-align-left">{{expense.title}}</div>
				<div class="expense-content col-1-3 text-align-center">{{expense.details}} {{expense.date}}</div>
				<div class="expense-content col-1-3 text-align-right">{{expense.cost | currency:"&#8377;"}}</div> -->
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>