<ion-view view-title="Report">
	<ion-content>
		<ion-list>
			<ion-item class="date-wrapper">
				<div class="col-1-2 inline-block text-align-center">
					<label class="item item-input inline-block date-label">
						<span class="input-label">From</span>
					</label>
					<ionic-datepicker class="ionic-datepicker" idate="startDate" disablepreviousdates="true"  	
					        disablefuturedates=
						    "false" callback="startDatePickerCallback" disableddates="disabledDates" title="title" mondayfirst="true">
						<button class="button button-positive"> {{ startDate | date:'dd MMM yyyy' }} </button>
					</ionic-datepicker>
				</div><!--
				--><div class="col-1-2 inline-block text-align-center">
					<label class="item item-input inline-block date-label">
						<span class="input-label">To</span>
					</label>
					<ionic-datepicker class="ionic-datepicker" idate="endDate" disablepreviousdates="true"  
						disablefuturedates=
					    "false" callback="endDatePickerCallback" disableddates="disabledDates" title="title" mondayfirst="true">
					    <button class="button button-positive"> {{ endDate | date:'dd MMM yyyy' }} </button>
					</ionic-datepicker>
				</div>
			</ion-item>

			<ion-item>
				<div class="inline-block col-1-2 text-align-left text-bold">Total</div>
				<div class="inline-block col-1-2 text-align-right text-bold">{{getTotal()}}</div>
			</ion-item>
			<div ng-repeat="category in reportExpenses">
				<ion-item ng-click="toggleGroup(category, $index)" ng-class="{active: isCategoryShown(category)}">
					<div class="inline-block col-1-2 text-align-left">
						<i class="icon" ng-class="isCategoryShown(category) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
	            		&nbsp;
						{{category.title}}
					</div>
					<div class="inline-block col-1-2 text-align-right">
					 	{{category.totalCost}}
					</div>
				</ion-item>
				<ion-item class="item-accordion"
	                    ng-repeat="expense in category.expenses"
	                    ng-show="isCategoryShown(category)">
	            	<div class="expense-content col-1-3 text-align-left">{{expense.details}}</div>
					<div class="expense-content col-1-3 text-align-center">{{expense.date}}</div>
					<div class="expense-content col-1-3 text-align-right">{{expense.cost}}</div>
	          </ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-view>