<ion-view view-title="Report">
	<ion-content>
		<ion-list>
			<ion-item>
				<div class="inline-block col-1-2 text-align-left text-bold">Total</div>
				<div class="inline-block col-1-2 text-align-right text-bold">{{getTotal()}}</div>
			</ion-item>
			<ion-item ng-repeat="expense in reportExpenses">
				<div class="inline-block col-1-2 text-align-left">
					{{expense.title}}
				</div>
				<div class="inline-block col-1-2 text-align-right">
				 	{{expense.totalCost}}
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>