<ion-view view-title="Settings">
	<ion-content>
		<ion-list class="settings">
			<ion-item class="item">
				<label class="item item-input item-clear no-border label">
					<span class="input-label">Offset date</span>
				</label>
				<div class="ionic-datepicker">
					<button class="button button-positive" ng-click="datePicker()"> {{offsetDate | date:'dd MMM yyyy'}}</button>
				</div>
			</ion-item>
			<ion-item class="item">
				<ion-toggle class="no-border"
                    ng-model="noWarningPopup.checked" 
                    ng-change="setWarningPopup()">
          			No category warning
        		</ion-toggle>
			</ion-item>
			<ion-item class="item">
				<label class="item item-input item-clear no-border label">
					<span class="input-label">Budget</span>
				</label>
				<input type="text" ng-model="totalBudget" ng-change="setBudget(totalBudget)" class="item item-input-wrapper ionic-datepicker" placeholder="budget" >
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>